{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Welcome!</h1>
    <p class="lead">Playlist was specially designed for djs to easily create and view playlists. You can register below if you don't have an account and start to create your playlists. </p>
    {% if not session.logged_in %}
    <div class="btn btn-group">
        <a class="btn btn-dark btn-lg mx-1" href="/register">Register</a>
        <a class="btn btn-dark btn-lg" href="/login">Login</a>
    </div>
    {% endif %}
</div>
<div class="jumbotron text-center">
    <h3>Recently created playlists:</h3>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Song Number</th>

        </tr>
        {% for playlist in playlists %}
            <tr>
                <td><a href="/playlist/{{playlist.id}}">{{playlist.title}}</a></td>
                <td>{{playlist.songnum}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}