{% extends 'layout.html' %}

{% block body %}
    <h1 class="title">{{playlist.title}} {% if playlist.isprivate %}<i>(Private)</i>{% endif %}</h1>
    <small>Created by {{username}} on {{playlist.create_date}}</small>
    <hr>
{% if not msg %}
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Duration</th>
        </tr>
        {% for song in songs %}
            <tr>
                <td>{{song.title}}</td>
                <td>{{song.artist}}</td>
                <td>{{song.genre}}</td>
                <td>{{song.duration}}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<div class="row">
    <div class="col">
{% if playlist.image %}
 <img src="data:image/png;base64, {{playlist.image}}" class="img-fluid float-left">
{% endif %}
    </div>
{% if playlist.comment %}
    <div class="col-6">
        <p class="lead">{{playlist.comment}}</p>
    </div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        currLoc = $(location).attr('href');
        $("input:text").val(currLoc);
    });
</script>
    <div class="colq">
    <p>Share this playlist:</p>
        <input type="text" name="user" class="form-control" onclick="this.select();" readonly>
    </div>
</div>
{% endblock %}